html {
    font-family: sans-serif;
    font-family: 'Liberation Sans';
}

body {
    font-size: 10px;
    margin: 0;
}

h1 {
    font-size: 15px;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

p {
    margin-top: 0;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
}

table {
    border: None;
}

.text-left{text-align:left}
.text-right{text-align:right}
.text-center{text-align:center}
